@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap');
:root {
  --font-family: 'Marvel', sans-serif;
  /* colores */
  --color-texto: #f2e5ff;
  --shadow: #422424bf;
  --not-enfasis: #796ea6;
  --enfasis: #80007f;
  --shadow-red: #a21f258d;
  --red2: #e5101e;
  --red: #b00710;
  --background-color: #231f1f;
  --black: #000000;

  /* espacios*/
  --s: 0.5rem;
  --m: 1rem;
  --l: 1.5rem;
  --xl: 2rem;
  --xxl: 3rem;
  --br-s: 8px;
  --br-m: 20px;
  --br-l: 50%;
}

header {
  width: 100%;
  background-color: var(--shadow-red);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--s);
  box-shadow: 2px 3px 5px 0px var(--shadow-red);
}
/* .title-container {
  background-color: #000000;
} */

h1 {
  font-size: 3.5rem;
  color: #ffffff;
  color: var(--black);
  padding: var(--s);
  -webkit-text-stroke: 3px var(--color-texto);
  text-shadow: 3px 3px 0 #000, -3px 3px 0 #000, -3px -3px 0 #000,
    3px -3px 0 #000;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s);
}
ul > li > a {
  color: var(--color-texto);
  font-size: var(--l);
  font-weight: bold;
}
ul > li > a::after {
  content: '';
  display: block;
  height: 3px;
  background-color: var(--color-texto);
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.25s;
}

ul > li > a:hover::after {
  transform: scale(1, 1);
}

#login-button {
  font-size: var(--l);
  font-weight: bold;
  border: none;
  border-radius: var(--br-s);
  padding: var(--s);
  background-color: var(--red);
  color: var(--color-texto);
  box-shadow: 2px 3px 5px 0px var(--background-color);
  cursor: pointer;
}

#login-button::after {
  content: '';
  display: block;
  height: 3px;
  background-color: var(--color-texto);
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.25s;
}

#login-button:hover::after {
  transform: scale(1, 1);
}
