@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap');
:root {
  --font-family: 'Marvel', sans-serif;
  /* colores */
  --color-texto: #19191a;
  --shadow: #422424bf;
  --blue: #0161c8;
  --not-enfasis: #796ea6;
  --enfasis: #80007f;
  --enfasis-2: hwb(300 0% 2%);
  --shadow-red: #3a047c4d;
  --red2: #e5101e;
  --red: #d0333b;
  --background-color: #e3e3e3;
  --button-color: #231f1f;
  --black: #000000;

  /* espacios*/
  --s: 0.5rem;
  --m: 1rem;
  --l: 1.5rem;
  --xl: 2rem;
  --xxl: 3rem;
  --br-s: 8px;
  --br-m: 20px;
  --br-l: 50%;
}

header {
  width: 100%;
  background-color: var(--red);
  /* background-color: var(--shadow-red); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header {
  list-style: none;
}
.header-usuario {
  list-style: none;
}

h1 {
  font-size: 3.5rem;
  color: #ffffff;
  color: var(--black);
  padding: 0 20px;
  -webkit-text-stroke: 3px var(--color-texto);
  text-shadow: 3px 3px 0 #fffefe, -3px 3px 0 #8904d1, -3px -3px 0 #efebeb,
    3px -3px 0 #000;
}
ul {
  padding: var(--br-m);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s);
}
ul > li > a {
  color: var(--color-texto);
  font-size: var(--l);
  font-weight: bold;
}
ul > li > a::after {
  content: '';
  display: block;
  height: 3px;
  background-color: var(--color-texto);
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.25s;
}

ul > li > a:hover::after {
  transform: scale(1, 1);
}

#login-button {
  font-size: 21px;
  font-weight: bold;
  border: none;
  border-radius: var(--br-s);
  padding: 5px 10px;

  background-color: var(--enfasis);
  color: var(--background-color);
  -webkit-text-stroke: 0.2px var(--background-color);
  box-shadow: 2.5px 2px 4px 0px var(--black);
  cursor: pointer;
}

#login-button::after {
  content: '';
  display: block;
  height: 3px;
  background-color: var(--background-color);
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.25s;
}

#login-button:hover::after {
  transform: scale(1, 1);
}

.header-usuario > li {
  margin-right: var(--br-m);
  text-align: center;
}

@media screen and (max-width: 784px) {
  header {
    justify-content: center;
  }
}
